__pycache__/
*.py[cod]
*$py.class

.env
.venv/
venv/
env/

memory_logs/
*.log
*.out
core
core.*

MJDATA.TXT
MUJOCO_LOG.TXT

*.zip
*.pt
*.pth
*.onnx
*.npy
*.npz
*.mjb

!models/policy_20251026.pt
!models/sac_lidar_interrupted_good3_0.91.zip

.DS_Store
